.menu {
  list-style: none;
  flex-shrink: 0;
  padding: 4rem 16px;
  margin: 0;
  height: 100vh;
  background-color: #bbd7e2;
  position: sticky;
  top: 0;
  flex: 1;
  white-space: nowrap;
  min-width: 16%;
}

.menu-item {
  margin: 1rem 0;
}

.menu-item .btn {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #022b3a;
  padding: 5px 20px;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
}

.menu-item .btn.menu-link-active {
  background-color: #022b3a;
  color: #fff;
}
